
body {
    display: block;
    margin: 8px 0px;
    font-family: serif;
}

.navbar {
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0px;
}
/*.navbar-list1{
	 display: none;
}
.navbar-list2{
	 display: block;
	 flex-direction: column;
}
*/
.navbar-list{
 display: none;
 flex-direction: column;
}
.navbar a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.section1-row {  
	background-color: #aaa;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px 10px 25px 10px;
}

.fakeimg {
    background-color: #fff;
       width: 90%;
    height: 270px;
    margin: auto;
    border: 1px solid black;
}

.section1-text{
	color: #fff;
}

button{
	padding: 12px 25px;
	display: block;
    width: 90%;
    margin: auto;
    background: #fff;
    border: 1px solid black;
    box-shadow: 2px 2px;

}

.section2-row {  
	background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px 10px 25px 10px;
}

.fakeimg2 {
	width: 50%;
    margin: auto;
    height: 150px;
    border: 1px solid black;
}
.paragraph{
    font-size: 14px;
}
.menu{
    width: 20px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}
.menubar{
 margin-left: 10px;
}

@media  screen and (min-width: 600px) and (orientation: portrait) {
.fakeimg {
    width: 50%;
    height: 290px;
    margin: auto;
}
.section1-row {  
    padding: 35px 10px 35px 10px;
}
.section1-text{
	color: #000;
}

button{
    width: 50%;
    margin: auto;
}

h3{
    margin: 20px 125px;
    font-size: 22px;
}
.paragraph1{
	margin: 25px 110px;
}
.section2-row{
	display: flex;
}	

.subSection2-row{
	display: flex;
    margin: 5px 10% 5px 10%;
}
.fakeimg2{
    width: 31%;
    height: 144px;
    margin: 25px 15px;
}
.section2-text{
margin-top: 20px;
}
}

@media screen and (min-width: 768px) {
.navbar {
    padding-left: 20px;
}

.section1-row {
    display: flex;
    flex-direction: row-reverse;
    padding: 70px 10px 70px 10px;
}
.section1-text {
    text-align: left;
    margin: 10px 25px auto;
}
button{
    margin:0;
    width: 60%;
}
.fakeimg {
    width: 66%;
    height: 276px;
    margin-right: 40px;
}
.section2-row{
	display: flex;
	flex-direction: row;
	margin-top:50px;
}	

.subSection2-row{
	display: flex;
    flex-direction: column;
     margin: auto;

}
.fakeimg2{
    width: 56%;
    height: 144px;
    margin: auto;
}
.section2-text{
margin-top: 5px;
}
h3{
    margin: 40px 60px 25px 0px;
    font-size: 22px;
}
.paragraph1{
	margin: 25px 44px 25px 0px; 
}
.menubar{
	display: none;
}
#navbar-list-id {
    display: flex;
    flex-direction: row;
}
.navbar-list{
 display: flex;
 flex-direction: column;
}

}